.css {
  background-color: red;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: bold;
}
.number {
  background-color: lightpink;
  font-family: Verdana, Devaju sans, serif;
}
#title {
    color: blue;
    font-size: 36px;
}
.cool {
    background-color: lightpink;
    color:white;
}